@page "/"
@model ProiectMediiProgramare.Pages.Masini.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Masini</h1>

<p>
    <a asp-page="Create">Adauga o noua Masina</a>
</p>
<form method="get">
    <div class="form-group row">
        <label for="searchString" class="col-sm-2 col-form-label">Cautare dupa Model Masina:</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" id="searchString" name="SearchString" value="@Model.SearchString" placeholder="Enter Model" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Producator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].An)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Locatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Masina) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producator.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.An)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie.Oras)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
